<?xml version="1.0" ?>

<robot name="plasticRover" xmlns:xacro="https://www.ros.org/wiki/xacro">

	<xacro:include filename="macros.xacro" />
	<xacro:include filename="mats.xacro" />
	<xacro:include filename="rover.gazebo"/>

	<link name="link_chassis">
		<!-- values calculated in fusion360 -->
		<inertial>	
			<mass value="2.441483"/>
			<origin rpy="0 0 0" xyz="0  0 0"/>
			<inertia
				ixx =  "0.061"
				ixy =  "${3.601*0.0001}"
				ixz =  "${-2.478*0.00001}"
				iyy =  "${0.119}"
				iyz =  "${5.191*0.0000001}"
				izz =  "${0.081}"
			/>
		</inertial>
		<collision>
			<geometry>
				<!--Again this is from the fusion360-->
				<box size = "0.511 0.4 0.208"/>
			</geometry>
			<origin rpy="1.570796 0 0" xyz="0 0 0"/>
		</collision>
		<visual>
			<geometry>				
				<!--<mesh filename="package://threedrover_description/MODELS/OWR_20_CHASSIS_00_ASM.stl" scale="0.001 0.001 0.001" />-->
				<box size = "0.511 0.208 0.4"/>
			</geometry>
			<origin rpy="1.570796 0 0" xyz="0 0 0"/>
     			<material name="white"/>
		</visual>
	</link>
	<!-- Bogie -->
	<xacro:link_bogie_stat name="link_right_bogie_stat" />  
	<xacro:link_bogie_rot name="link_right_bogie_rot"/>
	<xacro:link_bogie_stat name="link_left_bogie_stat" />
	<xacro:link_bogie_rot name="link_left_bogie_rot"/>

	<xacro:joint_bogie_stat name="joint_bogie_left_stat" child="link_left_bogie_stat" parent="link_chassis"   orientation="-1"/>
	<xacro:joint_bogie_stat name="joint_bogie_right_stat" child="link_right_bogie_stat" parent="link_chassis"  orientation="1"/>
	<xacro:joint_bogie_rot name="joint_bogie_right_rot" child="link_right_bogie_rot" parent="link_right_bogie_stat"  orientation="1"/>
	<xacro:joint_bogie_rot name="joint_bogie_left_rot" child="link_left_bogie_rot" parent="link_left_bogie_stat" orientation="-1"/>
	
	<!-- Wheel -->

	<xacro:link_wheel_stat name="link_FRSWheel"  orientation="1" end="1"/>  
	<xacro:link_wheel_stat name="link_FLSWheel"  orientation="-1" end="1"/>  
	<xacro:link_wheel_stat name="link_BRSWheel"  orientation="1" end="-1"/>  
	<xacro:link_wheel_stat name="link_BLSWheel"  orientation="-1" end="-1"/>  

	
	<xacro:wheel_joint_stat name="wheelmount_FL" child="link_FLSWheel" parent="link_left_bogie_rot" orientation="-1" end="-1"/>
	<xacro:wheel_joint_stat name="wheelmount_BL" child="link_BLSWheel" parent="link_left_bogie_rot" orientation="-1" end="1"/>
	<xacro:wheel_joint_stat name="wheelmount_FR" child="link_FRSWheel" parent="link_right_bogie_rot" orientation="1" end="1"/>
	<xacro:wheel_joint_stat name="wheelmount_BR" child="link_BRSWheel" parent="link_right_bogie_rot" orientation="1" end="-1"/>

	

	<xacro:link_wheel_rot name="link_FRRWheel"  orientation="1" end="1"/>  
	<xacro:link_wheel_rot name="link_BRRWheel"  orientation="1" end="-1"/>  
	<xacro:link_wheel_rot name="link_FLRWheel"  orientation="-1" end="1"/>  
	<xacro:link_wheel_rot name="link_BLRWheel"  orientation="-1" end="-1"/>  



	<xacro:wheel_joint_rot name="wheel_FL" child="link_FLRWheel" parent="link_FLSWheel" orientation="-1" end="1"/>
	<xacro:wheel_joint_rot name="wheel_BL" child="link_BLRWheel" parent="link_BLSWheel" orientation="-1" end="-1"/>
	<xacro:wheel_joint_rot name="wheel_FR" child="link_FRRWheel" parent="link_FRSWheel" orientation="1" end="1"/>
	<xacro:wheel_joint_rot name="wheel_BR" child="link_BRRWheel" parent="link_BRSWheel" orientation="1" end="-1"/>

	<link name = "camera_link">
		<visual>
			<geometry>
				<box size="0.1 0.1 0.1"/>
			</geometry>
		</visual>
			<origin rpy="0 0 0" xyz="0 0 0"/>
     			<material name="green"/>
	</link>

	<link name = "lidar_link">
		<visual>
			<geometry>
				<box size="0.05 0.05 0.1"/>
			</geometry>
		</visual>
			<origin rpy="0 0 0" xyz="0 0 0"/>
     			<material name="green"/>
	</link>

	<xacro:joint_sensor name="camera_joint" child="camera_link" parent="link_chassis" pos="0.2555 0 0"/>

	<xacro:joint_sensor name="lidar_joint" child="lidar_link" parent="link_chassis" pos="0.2275 0 0.104"/>
</robot>
